<h2><%= title %></h2>
<ul class="message-grid">
    <% messages.map(message => { %> 
        <li class="card">
            <div class="card-header">
                <span class="author"><%= message.username %></span>
                <span class="date"><%= formatDate(message.date_added) %></span>
            </div>
            <span><%= message.message %></span>
            <a class="view-post-button" href="<%= message.msg_id%>">View Post</a>
        </li>
    <% }) %>
</ul>
<a href="new" class="add-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
    Add
</a>